body{
	background-image:url("../images/background.jpg");
	font-family: Helvetica;
	height: 100%;
    padding: 8% 0%;
}

.planning{
	margin: auto;
	width: 90%;
	height: 100%;
}

.planning table{
	table-layout:fixed;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	border: 1px solid #003f7f;
	text-align: center;
}

.planning table thead th{
	border-left: 1px dotted #003f7f;
	border-right: 1px dotted #003f7f;
	border-top: 1px solid #003f7f;
	border-bottom: 1px solid #003f7f;
	background-color: #005fbf;
	color:white;
	padding: 5px 0px;
}

.planning table tbody{
	background-color:white;
}

.planning table tbody td{
	border: 1px dotted #003f7f;
	font-size: 13px;
}

.planning table tbody td:nth-child(odd){
	border-right: 1px solid #003f7f;
}

.planning table thead th:nth-child(odd){
	border-right: 1px solid #003f7f;
}

.planning table tbody tr{
	height: 75px;
}

.planning table tbody td:first-child, .planning table thead th:first-child{
	width:150px;
	max-width:150px;
	font-size: 16px;
}

.planning caption{
	color:white;
	font-weight: bold;
	font-size: 25px;
	padding: 10px 0px;
}

.owl-carousel{
	margin: 0;
	padding: 0;
}

.owl-pagination{
	display: none;
}