.alphaButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #ccc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:27px;
	line-height:24px;
	width:28px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	margin-top: 0px;
	margin-right: 1px;
}
.alphaButton:hover {
	cursor: pointer;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.alphaButton:active {
	position:relative;
	top:1px;
}
#alphaL {
	border:0px solid #003f7f;
	border-collapse:collapse;
}
.selectDrop {
    padding: 0;
    margin: 0;
    margin-right: 10px;
    border: 1px solid #ccc;
    width: 165px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #ededed url("../images/arrowdown.gif") no-repeat 90% 50%;
}

.selectDrop select {
    cursor: pointer;
    padding: 4px 7px;
    width: 100%;
    padding-left: 10px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.selectDrop select:focus {
    outline: none;
}

.selectType {
    padding: 0;
    margin: 0;
    border: 1px solid #fff;
    outline: 1px solid #ccc;
    width: 200px;
    overflow: hidden;
    background-color: #fff;

    background: #cde5f7 url("../images/arrowdown.gif") no-repeat 90% 50%;
}

.selectType select {
    cursor: pointer;
    padding: 4px 0px 4px 15px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.selectType select:focus {
    outline: none;
}

.selectType select:disabled {
    cursor: inherit;
}


.selectType2 {
    padding: 0;
    margin: 0;
    margin-right: 16px;
    border: 1px solid #fff;
    outline: 1px solid #ccc;
    width: 200px;
    overflow: hidden;
    background-color: #fff;

    background: #cde5f7 url("../images/arrowdown.gif") no-repeat 90% 50%;
}

.selectType2 select {
    cursor: pointer;
    padding: 4px 7px;
    width: 100%;
    padding-left: 10px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectType2 select:focus {
    outline: none;
}

.selectProd {
    padding: 0;
    margin: 0;
    margin-right: 16px;
    border: 1px solid #fff;
    outline: 1px solid #ccc;
    width: 300px;
    overflow: hidden;
    background-color: #fff;

    background: #cde5f7 url("../images/arrowdown.gif") no-repeat 90% 50%;
}

.selectProd select {
    cursor: pointer;
    padding: 4px 7px;
    width: 100%;
    padding-left: 10px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.selectProd select:focus {
    outline: none;
}