/*******************************************
                  FILTRES
*******************************************/
.planning-filters{
	margin: 20px 0 10px 0;
	width: 100%;
}

.planning-filters table{
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

.planning-filters table th{
	text-align: left;
	padding-left: 25px;
}

.planning-filters table td .selectType{
	margin: auto;
}

.planning-filters table td .buttonC{
	margin-top: 10px;
	margin-bottom: 0;
}

/*******************************************
                 PLANNING
*******************************************/
.planning-table{
	margin: 20px 0px;
	width: 100%;
	min-height: 431px;
	position: relative;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.planning-table > table{
	width: 100%;
	background-color: white;
	border: 1px solid black;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
}

.planning-table > table thead tr th:first-child{
	width: 20%;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
}

.planning-table > table thead tr th{
	width: 35%;
	height: 40px;
	color: white;
}

.planning-table > table tbody tr td{
	height: 50px;
	padding: 0;
}

.planning-table > table tbody tr td ul{
	display: block;
	width: 100%;
	height: 100%;
	list-style-type: none;
	margin:0;
	padding:0;
}

.planning-table > table tbody tr td ul:empty{
	background: url('../images/hachure-planning.png') repeat;
}
.planning-table > table tbody tr td li{
	vertical-align: middle;
	padding: 3px 5px;
}
.planning-table > table tbody tr td li:not(:last-child){
	border-bottom: 1px dotted black;
}

.planning-table > table th, .planning-table > table td{
	border: 1px solid black;
}

/**  Menus  **/

.planning-table .planning-menu{
	background-image: url('../images/hachure.png');
	background-color: rgba(255, 255, 255, 0.75);
	height: 22px;
	padding: 10px 0px;
}

.planning-table .planning-menu ul{
	height: 22px;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	line-height: 22px;
}
.planning-table .planning-menu ul li{
	display: inline-block;
	height: 100%;
}

.planning-table .planning-menu .hide{
	display: none;
}

/**  Logos  **/
.planning-table .planning-logo{
	height: 90px;
	background-color: rgba(255, 255, 255, 0.75);
	max-height: 90px;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
}

.planning-table .planning-logo .logo-wrapper{
	position: relative;
	display: inline-block;
	margin: 5px;
	border: 1px solid lightgrey;
	height: 60px;
}

/** Loading **/
.waiting-planning{
	background-color: lightgray;
}

.waiting-planning .planning-loader{
	width: 200px;
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.waiting-planning .planning-loader object{
	display: block;
	margin: auto;
}

.waiting-planning .planning-loader label{
	padding: 10px 0px;
	display: block;
	text-align: center;
	font-style: italic;
	color: #4c4c4c;
	font-size: 12px;
}

/** Edition **/

.planning-table .planning-disabled{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgb(60, 60, 60);
	background-image: url('../images/hachure2.png');
	opacity: 0.3;
	cursor: not-allowed;
	z-index: 1000;
}

.planning-table .planning-time{
	text-align: center;
}

.planning-table .planning-edit-tools{
	background-image: url('../images/hachure.png');
	background-color: rgba(255, 255, 255, 0.75);
	padding: 10px 10px;
	text-align: center;
}

.planning-table .planning-edit-tools table{
	border-collapse: collapse;
	width: 100%;
	margin: 5px 0px;
	text-align: left;
}

.planning-table .planning-edit-tools table tbody input[type=checkbox] + label:not(.ferie), .planning-table .planning-edit-tools table tbody td:not(.ferie) .dayTitle{
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.planning-table .planning-edit-tools table tbody input[type=checkbox] + label:not(.ferie):hover, .planning-table .planning-edit-tools table tbody td:not(.ferie) .dayTitle:hover{
	text-decoration: underline;
}

.planning-table .planning-edit-tools .ferie{
	color: gray;
}

.planning-table .planning-edit-tools .buttonWrapper{
	width: 100%;
	padding: 5px 0 0 0;
}

.planning-table .planning-edit-tools .buttonWrapper #addSal{
	width: 200px;
}

.planning-table .planning-logo .logo-wrapper input[type=checkbox]{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 18px;
	height: 18px;
}

.planning-edit-form{
	text-align: center;
}

/*******************************************
                   PRINTER
*******************************************/
.planning-printer-header{
	padding: 0;
	margin: 0;
}
.planning-printer-header h2{
	font-family: Helvetica;
	text-align: center;
	margin: 0;
	padding: 0;
}

.planning-printer-header h4{
	font-family: Helvetica;
	text-align: center;
	margin: 10px 0 0 0;
	padding: 0;
}

.planning-printer-header h5{
	color: red;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	margin: 3px 0 0 0;
	padding: 0;
}

#planning-table{
	border-collapse: collapse;
	margin: auto;
	text-align: center;
	font-family: Helvetica;
	width: 100%;
}

#planning-table tr th{
	color: white;
	padding: 5px;
	font-size: 15px;
	vertical-align: middle;
	border: 1px solid black;
}

#planning-table tr td{
	border: 1px solid black;
	width: 37%;
	padding: 0;
	height: 75px;
}

#planning-table tr td.thinColumn{
	width: 7%;
}

#planning-table tr td.firstColumn{
	width: 14%;
}

#planning-table tr td table {
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
	border-collapse: collapse;
	vertical-align: top;
}

#planning-table tr td table tr{
	height: 15px;
}

#planning-table tr td table tr td{
	border: none;
	padding: 0;
	height: 15px;
	width: 100%;
	vertical-align: middle;
	line-height: 15px;
}

#planning-table tr td table tr td.separator{
	border-bottom: 1px dotted black;	
}

.planning-printer-footer .planning-printer-logo{
	text-align: center;
	padding-bottom: 10px;
}

.planning-printer-footer .planning-printer-logo img{
	margin: 0px 5px;
}

.planning-printer-footer h4{
	margin: 0;
	font-family: Helvetica;
	font-size: 14px;
	text-align: center;
	font-weight: 600;
}

/*******************************************
                   AUTRES
*******************************************/
.hr-stylized{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}