/*******************************************
                  FILTRES
*******************************************/
.repertoire-form-filters{
	margin: 25px 0;
	text-align: right;
}

.repertoire-form-filters table{
	width: 100%;
	table-layout: fixed;
}

/*******************************************
                 FORMULAIRE
*******************************************/

.repertoire-form-content{
	position: relative;
	margin: 25px 0 10px 0;
	min-height: 700px;
}

/** Loading **/
.waiting-repertoire-form{
	background-color: lightgray;
}

.waiting-repertoire-form .form-loader{
	width: 200px;
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.waiting-repertoire-form .form-loader object{
	display: block;
	margin: auto;
}

.waiting-repertoire-form .form-loader label{
	padding: 10px 0px;
	display: block;
	text-align: center;
	font-style: italic;
	color: #4c4c4c;
	font-size: 12px;
}

/*******************************************
      FORMULAIRE D'AJOUT/AFFICHAGE DANS LE REPERTOIRE
*******************************************/

.repertoire-bloc{
	padding: 0;
	margin: 25px auto;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 2px 8px 0 rgba(0, 0, 0, 0.06);
}

.repertoire-bloc fieldset{
	border: none;
	padding: 0;
	margin: 0;
}

.repertoire-bloc fieldset legend{
	padding: 8px 0px 8px 15px;
	font-size: 20px;
	background-color: #1d4c82;
	width: calc(100% - 15px);
	color: white;
}

.repertoire-bloc fieldset legend .required-fields-info{
	font-size: 12px;
	display: block;
	font-style: italic;
}

.repertoire-bloc fieldset table:not(.cursus-table){
	width: calc(100%);
	table-layout: fixed;
}

.repertoire-bloc fieldset .form_table{
	margin: 0 10px;
	padding: 15px 0;
}

.repertoire-bloc fieldset .form_table td:nth-child(odd){
	padding: 8px;	
	width: 25%;
	text-align: right;
	margin: 50px;
}

.repertoire-bloc fieldset .form_table td:nth-child(even){
	padding: 8px;	
	width: 25%;
	text-align: left;
	margin: 50px;
}

.repertoire-bloc fieldset .form_table input.value-error, .repertoire-bloc fieldset .form_table textarea.value-error, .repertoire-bloc fieldset .form_table div.value-error{
	outline: none;
	border: 2px solid #b94747;
	background-color: rgba(248,135,135,0.5);
}

.repertoire-bloc fieldset table tr:empty, .repertoire-bloc fieldset table tr > *:empty{
	height: 25px;
}

.repertoire-bloc fieldset textarea{
	resize: none;
	width: calc(100% - 29px);
	background-color: #cde5f7;
}

.repertoire-bloc fieldset .showcase_table{
	border-collapse: collapse;
	margin: 0;
	width: 100%;
}

.repertoire-bloc fieldset .showcase_table tr{
	height: 35px;
	width: 100%;
	line-height: 35px;
}

.repertoire-bloc fieldset .showcase_table tr:nth-child(even){
	background-color: #f6f6f6;
}

.repertoire-bloc fieldset .showcase_table td:nth-child(even){
	text-align: left;
	padding: 0px 5px; 
}

.repertoire-bloc fieldset .showcase_table td:nth-child(odd){
	text-align: right;
	padding: 0px 5px;
	font-weight: bold;
}

.repertoire-bloc fieldset .showcase-header{
	background-color: white;
	padding: 10px;
	margin-bottom: -25px;
	font-weight: 200;
	font-size: 20px; 
}

.repertoire-bloc fieldset .cursus-table{
	margin: 20px 10px;
	border-collapse: collapse;
	width: calc(100% - 20px);
}

.repertoire-bloc fieldset .cursus-table tr{
	height: 30px;
	background-color: #e7e7e7;
	line-height: 30px;
	vertical-align: middle;
}

.repertoire-bloc fieldset .cursus-table tr td{
	text-align: center;
}

.repertoire-bloc fieldset .cursus-table td.cursus-title{
	font-weight: bold;
	height: 35px;
}

.repertoire-bloc fieldset .cursus-table td.cursus-arrow{
	width: 25px;
}

.repertoire-bloc fieldset .cursus-table td.cursus-arrow img{
	display: block;
}

.repertoire-bloc fieldset .cursus-table td.cursus-details{
	font-style: italic;
}

.repertoire-bloc fieldset .cursus-table td.cursus-contrat{
	width: 28%;
	padding: 5px 0;
}

.repertoire-bloc fieldset .cursus-table td.cursus-contrat div{
	color: white;
	background-color: #446a96;
	margin: 0 30px;
	height: 100%;
	border-radius: 20px;
}

.repertoire-bloc fieldset .cursus-table td.cursus-number{
	font-weight: bold;
	color: white;
	background-color: #446a96;
	padding: 0 1px;
	width: 14px;
}

.repertoire-bloc fieldset .cursus-table .form-cursus-wrapper{
	table-layout: fixed;
	padding: 15px 0;
}

.repertoire-bloc fieldset .cursus-table .form-cursus-wrapper td{
	padding: 2px 25px;
}

.repertoire-bloc fieldset .cursus-table .form-cursus-wrapper td .buttonC{
	margin-top: 10px;
}

.repertoire-bloc fieldset .cursus-table .form-cursus-wrapper td:nth-child(odd){
	text-align: right;
}

.repertoire-bloc fieldset .cursus-table .form-cursus-wrapper td:nth-child(even){
	text-align: left;
}

.repertoire-bloc fieldset .cursus-table .form-cursus-wrapper .inputC, .repertoire-bloc fieldset .cursus-table .form-cursus-wrapper .selectType{
	width: 100%;
}

.repertoire-show-filters table{
	margin: 20px 25px;
	table-layout: fixed;
	width: calc(100% - 50px);
	text-align: right;
}

.repertoire-show-filters table thead th, .repertoire-show-filters table tbody td:last-child{
	text-align: left;
}

.repertoire-show-list table{
	border: 1px solid #003f7f;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.repertoire-show-list table thead{
	background-color: #005fbf;
	color: white;
}

.repertoire-show-list table tbody tr{
	cursor: pointer;
}

.repertoire-show-list table tbody tr:nth-child(odd){
	background-color: white;
}
.repertoire-show-list table tbody tr:nth-child(even){
	background-color: #eaeaea;
}

.repertoire-show-list table tbody tr:hover{
	background-color: #97c9fc;
	color: white;
}

.repertoire-show-list table tbody tr:hover i.no-data{
	color: white;
}

.repertoire-show-list table th{
	height: 35px;
}

.repertoire-show-list table td{
	text-align: center;
	font-size: 14px;
	height: calc(36px - 10px);
}

.form-errors{
	margin: 35px 0 10px 0;
	background-color: #f88787;
	border: 2px solid #b94747;
	padding: 0px 10px;
}

.repertoire-show-list table thead th, .repertoire-show-list table tbody td{
	border: 1px solid #003f7f;
}

.repertoire-manage-buttons{
	text-align: center;
	margin-top: 10px;
}

.required-top-date{
	margin-top: 15px;
	padding-left: 15px;
}

.crossNextToField{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.align-center{
	text-align: center !important;
}

i.no-data{
	color: gray;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}