#labelT {
	text-align: center;
	height: 50px;
	line-height: 50px;
	vertical-align: center;
	font-size: 20px;
	background-color: #cde5f7;
	padding: 0px 10px;
	width: 100%;
	margin-left: -10px;
}

#labelCat {
	text-align: center;
	height: 70px;
	padding-top: 15px;
	font-size: 20px;
}

#good {
	text-align: center;
	height: 50px;
	line-height: 50px;
	vertical-align: center;
	font-size: 20px;
	background-color: #63b568;
	padding: 0px 10px;
	width: 100%;
	margin-left: -10px;
}

#bad {
	text-align: center;
	height: 50px;
	line-height: 50px;
	vertical-align: center;
	font-size: 20px;
	background-color: #f88787;
	padding: 0px 10px;
	width: 100%;
	margin-left: -10px;
}

#info{
	text-align: center;
	height: 50px;
	line-height: 50px;
	vertical-align: center;
	font-size: 20px;
	background-color: #ffe26e;
	padding: 0px 10px;
	width: 100%;
	margin-left: -10px;
}

#news-update{
	margin: 35px 0 10px 0;
	background-color: #ffe26e;
	border: 2px solid #dabb3d;
	padding: 0px 10px;
}

#news-update .news-title{
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin: 5px 0;
}

.tableContact, .tableContact th, .tableContact td {
	border:1px solid #003f7f;
	border-collapse:collapse;
}
.tableContact td a:link, .tableContact a:visited{
	text-decoration: none;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tableContact tr:nth-child(odd){ background-color:#eaeaea; }
.tableContact tr:nth-child(even)    { background-color:#ffffff; }
.tableContact td{
	vertical-align:middle;
	
	
	border:1px solid #003f7f;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:8px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tableContact tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tableContact tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tableContact tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tableContact thead tr td{
		background:-o-linear-gradient(bottom, #92cbef 5%, #0f77c6 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #92cbef), color-stop(1, #0f77c6) );
	background:-moz-linear-gradient( center top, #92cbef 5%, #0f77c6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#92cbef", endColorstr="#0f77c6");	background: -o-linear-gradient(top,#92cbef,0f77c6);

	background-color:#92cbef;
	border:0px solid #003f7f;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	height: 18px;
	cursor: pointer;
}
.tableContact tbody tr:hover td{
	background:-o-linear-gradient(bottom, #6ec3ea 5%, #cfeff9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6ec3ea), color-stop(1, #cfeff9) );
	background:-moz-linear-gradient( center top, #6ec3ea 5%, #cfeff9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#6ec3ea", endColorstr="#cfeff9");	background: -o-linear-gradient(top,#6ec3ea,cfeff9);

	background-color:#6ec3ea;
	cursor: pointer;
}
.firstCol{
	border-width:0px 0px 1px 0px;
}
.tableContact thead tr td:last-child{
	border-width:0px 0px 1px 1px;
}

#fullTable {
	border:1px solid #003f7f;
	border-collapse:collapse;
}

.detailClients{
	border:0px solid #003f7f;
	border-collapse:collapse;
}
.detailClients tr th{
	text-align: left; 
	width: 200px; 
	white-space: normal;
	padding-left: 25px;
}
.detailClients tr td{
	text-align: center; 
	width: 200px; 
	padding-right: 35px;
}
.detailClients tr:nth-child(odd){ background-color:#eaeaea; }
.detailClients tr:nth-child(even)    { background-color:#ffffff; }

#BuyAjout tr:nth-child(odd){  }
#BuyAjout tr:nth-child(even) td    { border-bottom: 1px solid #000; }
#BuyAjout table tr:nth-child(even) td    { border-bottom: 0px solid #000; }

#downT {
	background-color: #f5f2f5;
	border-top:none;
	border-left:none;
	border-bottom:none;
	border-right:none;
	text-align:none;
	margin-top: 10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:0px;
	padding-right:0px;
	width:100%;
	text-align: center;
}

#corps {
	min-height: 500px;
}

.inputC{
	height: 25px;
	border: 1px solid rgb(169, 169, 169);
}

.inputC, .selectType{
	width:200px;
	background-color: #cde5f7;
}

.inputC:disabled{
	background-color: lightgrey;
}

.inputC2 {
	width:150px;
	background-color: #cde5f7;
}

.buttonC {
	-moz-box-shadow:inset 0px 0px 0px 1px #bee2f9;
	-webkit-box-shadow:inset 0px 0px 0px 1px #bee2f9;
	box-shadow:inset 0px 0px 0px 1px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #99d8ff), color-stop(1, #3689d6) );
	background:-moz-linear-gradient( center top, #99d8ff 5%, #3689d6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99d8ff', endColorstr='#3689d6');
	background-color:#99d8ff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #3866a3;
	display:inline-block;
	color:#000;
	font-family:Arial;
	font-size:15px;
	font-style:normal;
	height:40px;
	line-height:20px;
	width:121px;
	text-decoration:none;
	text-align:center;
	vertical-align: middle;
	text-shadow:1px 1px 0px #7cacde;
	cursor: pointer;
}
.buttonC:hover:not(:disabled) {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.buttonC:active {
	position:relative;
	top:1px;
}.buttonC:disabled{
	opacity: 0.45;
	cursor:normal;
}
.buttonSmll {
	-moz-box-shadow:inset 0px 0px 0px 1px #bee2f9;
	-webkit-box-shadow:inset 0px 0px 0px 1px #bee2f9;
	box-shadow:inset 0px 0px 0px 1px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #99d8ff), color-stop(1, #3689d6) );
	background:-moz-linear-gradient( center top, #99d8ff 5%, #3689d6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99d8ff', endColorstr='#3689d6');
	background-color:#99d8ff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #3866a3;
	display:inline-block;
	color:#000;
	font-family:Arial;
	font-size:15px;
	font-style:normal;
	height:40px;
	line-height:20px;
	width:40px;
	text-decoration:none;
	text-align:center;
	vertical-align: middle;
	text-shadow:1px 1px 0px #7cacde;
}
.buttonSmll:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.buttonSmll:active {
	position:relative;
	top:1px;
}
.listeClients a:link, .listeClients a:visited{
	text-decoration: none;
	font-family:Arial;
	color:#000;
}
.listeClients {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #00345b;
	
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.listeClients table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.listeClients tbody tr:last-child td:last-child {
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
}
.premierCol {
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}
.listeClients table thead tr td:last-child {
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
}.listeClients tbody tr:last-child td:first-child{
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
}.listeClients tr:hover td{
	background-color:#ffffff;
		

}
.listeClients td{
	vertical-align:middle;
	/*	background:-o-linear-gradient(bottom, #b5dafc 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b5dafc), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #b5dafc 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b5dafc", endColorstr="#ffffff");	background: -o-linear-gradient(top,#b5dafc,ffffff);

	background-color:#b5dafc;*/

	border:1px solid #00345b;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}

.listeClients tr:nth-child(odd){ background-color:#eaeaea; }
.listeClients tr:nth-child(even)    { background-color:#ffffff; }

.listeClients tr:last-child td{
	border-width:0px 1px 0px 0px;
}.listeClients tr td:last-child{
	border-width:0px 0px 1px 0px;
}.listeClients tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.listeClients thead tr td{
	background:-o-linear-gradient(bottom, #33aee8 5%, #33aee8 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #33aee8), color-stop(1, #33aee8) );
	background:-moz-linear-gradient( center top, #33aee8 5%, #33aee8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#33aee8", endColorstr="#33aee8");	background: -o-linear-gradient(top,#33aee8,33aee8);

	background-color:#33aee8;
	border:0px solid #00345b;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#02437f;
	cursor: pointer;
}
.listeClients tbody tr:hover td{
	background:-o-linear-gradient(bottom, #9ADEFE 5%, #9ADEFE 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9ADEFE), color-stop(1, #9ADEFE) );
	background:-moz-linear-gradient( center top, #9ADEFE 5%, #9ADEFE 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#9ADEFE", endColorstr="#9ADEFE");	background: -o-linear-gradient(top,#9ADEFE,9ADEFE);

	background-color:#9ADEFE;
	cursor: pointer;
}
.premierCol{
	border-width:0px 0px 1px 0px;
}
.listeClients thead tr td:last-child{
	border-width:0px 0px 1px 1px;
}

#arrowUp {
	float: right;
	height: 6px;
	margin-top: 1px;
}
#arrowDown {
	float: right;
	height: 6px;
	margin-top: -5px;
}
.listeMembers a:link, .listeMembers a:visited{
	text-decoration: none;
	font-family:Arial;
	color:#000;
}
.listeMembers {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #003f7f;
	
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.listeMembers table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.listeMembers tbody tr:last-child td:last-child {
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
}
.listeMembers table thead tr td:last-child {
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
}.listeMembers tbody tr:last-child td:first-child{
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
}.listeMembers tr:hover td{
	background-color:#ffffff;
}
.listeMembers td{
	vertical-align:middle;
	/*	background:-o-linear-gradient(bottom, #6da7e0 5%, #e3effc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6da7e0), color-stop(1, #e3effc) );
	background:-moz-linear-gradient( center top, #6da7e0 5%, #e3effc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#6da7e0", endColorstr="#e3effc");	background: -o-linear-gradient(top,#6da7e0,e3effc);

	background-color:#6da7e0;*/

	border:1px solid #003f7f;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.listeMembers tr:nth-child(odd){ background-color:#eaeaea; }
.listeMembers tr:nth-child(even)    { background-color:#ffffff; }
.listeMembers tr:last-child td{
	border-width:0px 1px 0px 0px;
}.listeMembers tr td:last-child{
	border-width:0px 0px 1px 0px;
}.listeMembers tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.listeMembers thead tr td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #005fbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #005fbf) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#005fbf");	background: -o-linear-gradient(top,#005fbf,005fbf);

	background-color:#005fbf;
	border:0px solid #003f7f;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	color:#fff;
	cursor: pointer;
}
.listeMembers tbody tr:hover td{
	background:-o-linear-gradient(bottom, #97c9fc 5%, #97c9fc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #97c9fc), color-stop(1, #97c9fc) );
	background:-moz-linear-gradient( center top, #97c9fc 5%, #97c9fc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#97c9fc", endColorstr="#97c9fc");	background: -o-linear-gradient(top,#97c9fc,9ADEFE);

	background-color:#97c9fc;
	cursor: pointer;
}
.listeMembers thead tr td:last-child{
	border-width:0px 0px 1px 1px;
}
.listeFourn a:link, .listeFourn a:visited{
	text-decoration: none;
	font-family:Arial;
	color:#000;
}
.listeFourn {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #06342F;
	
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.listeFourn table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.listeFourn tbody tr:last-child td:last-child {
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
}
.listeFourn table thead tr td:last-child {
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
}.listeFourn tbody tr:last-child td:first-child{
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
}.listeFourn tr:hover td{
	background-color:#ffffff;
}
.listeFourn td{
	vertical-align:middle;
	/*	background:-o-linear-gradient(bottom, #D7FFFC 5%, #82E4DA 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #D7FFFC), color-stop(1, #82E4DA) );
	background:-moz-linear-gradient( center top, #D7FFFC 5%, #82E4DA 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#D7FFFC", endColorstr="#82E4DA");	background: -o-linear-gradient(top,#D7FFFC,82E4DA);

	background-color:#D7FFFC;*/

	border:1px solid #06342F;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.listeFourn tr:nth-child(odd){ background-color:#eaeaea; }
.listeFourn tr:nth-child(even)    { background-color:#ffffff; }
.listeFourn tr:last-child td{
	border-width:0px 1px 0px 0px;
}.listeFourn tr td:last-child{
	border-width:0px 0px 1px 0px;
}.listeFourn tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.listeFourn thead tr td{
	background:-o-linear-gradient(bottom, #12A697 5%, #12A697 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #12A697), color-stop(1, #12A697) );
	background:-moz-linear-gradient( center top, #12A697 5%, #12A697 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#12A697", endColorstr="#12A697");	background: -o-linear-gradient(top,#12A697,#12A697);

	background-color:#12A697;
	border:0px solid #06342F;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	color:#fff;
	cursor: pointer;
}
.listeFourn tbody tr:hover td{
	background:-o-linear-gradient(bottom, #7BDBD1 5%, #7BDBD1 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7BDBD1), color-stop(1, #7BDBD1) );
	background:-moz-linear-gradient( center top, #7BDBD1 5%, #7BDBD1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7BDBD1", endColorstr="#7BDBD1");	background: -o-linear-gradient(top,#7BDBD1,9ADEFE);

	background-color:#7BDBD1;
	cursor: pointer;
}
.listeFourn thead tr td:last-child{
	border-width:0px 0px 1px 1px;
}


.listeRef a:link, .listeRef a:visited{
    text-decoration: none;
    font-family:Arial;
    color:#000;
}
.listeRef {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #02380c;

    -moz-border-radius-bottomleft:6px;
    -webkit-border-bottom-left-radius:6px;
    border-bottom-left-radius:6px;

    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-right-radius:6px;
    border-bottom-right-radius:6px;

    -moz-border-radius-topright:6px;
    -webkit-border-top-right-radius:6px;
    border-top-right-radius:6px;

    -moz-border-radius-topleft:6px;
    -webkit-border-top-left-radius:6px;
    border-top-left-radius:6px;
}.listeRef table{
     border-collapse: collapse;
     border-spacing: 0;
     width:100%;
     height:100%;
     margin:0px;padding:0px;
 }.listeRef tbody tr:last-child td:last-child {
      -moz-border-radius-bottomright:6px;
      -webkit-border-bottom-right-radius:6px;
      border-bottom-right-radius:6px;
  }
.listeRef table thead tr td:last-child {
    -moz-border-radius-topright:6px;
    -webkit-border-top-right-radius:6px;
    border-top-right-radius:6px;
}.listeRef tbody tr:last-child td:first-child{
     -moz-border-radius-bottomleft:6px;
     -webkit-border-bottom-left-radius:6px;
     border-bottom-left-radius:6px;
 }
.listeRef td{
    vertical-align:middle;

    border:1px solid #02380c;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:12px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}
.listeRef tr:nth-child(odd){ background-color:#eaeaea; }
.listeRef tr:nth-child(even)    { background-color:#ffffff; }
.listeRef tr:last-child td{
    border-width:0px 1px 0px 0px;
}
.listeRef tr td:last-child{
     border-width:0px 0px 1px 0px;
 }
.listeRef tr:last-child td:last-child{
      border-width:0px 0px 0px 0px;
  }
.listeRef thead tr td{
    background-color: #00ac67;
    border:0px solid #02380c;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    color:#fff;
    cursor: pointer;
}
.listeRef tbody tr:hover td{
    background-color: #a0e7cc;
    cursor: pointer;
}
.listeRef thead tr td:last-child{
    border-width:0px 0px 1px 1px;
}

.printButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:39px;
    -moz-border-radius-topleft:39px;
    border-top-left-radius:39px;
    -webkit-border-top-right-radius:39px;
    -moz-border-radius-topright:39px;
    border-top-right-radius:39px;
    -webkit-border-bottom-right-radius:39px;
    -moz-border-radius-bottomright:39px;
    border-bottom-right-radius:39px;
    -webkit-border-bottom-left-radius:39px;
    -moz-border-radius-bottomleft:39px;
    border-bottom-left-radius:39px;
    text-indent:0px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:22px;
    line-height:10px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    outline:none;
}
.printButton:hover:enabled {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
    cursor: pointer;
}.printButton:active:enabled {
     position:relative;
     top:1px;
 }
/* 
****************
AJOUT GROUPE 2 PROJET REVIVRE 
**************** 
*/
.printButton:disabled {
	cursor:auto;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
	box-shadow:inset 0px 1px 0px 0px lightgrey;
    color:lightgrey;
 }

.SpecialDate::-webkit-outer-spin-button, /* Removes arrows */
.SpecialDate::-webkit-inner-spin-button, /* Removes arrows */
.SpecialDate::-webkit-clear-button { /* Removes blue cross */
  -webkit-appearance: none;
  margin: 0;
}

.delCross{
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 11;
	-moz-border-radius: 11;
	border-radius: 11px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding: 0px 4px 0px 4px;
	margin:0;
	border: solid #1f628d 1px;
	text-decoration: none;
	outline:none;
	float:right;
	vertical-align:middle;
}
.delCross:hover{
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
	cursor:pointer;
}

.buttonNormal {
	outline:none;
	vertical-align: middle;
	max-height: 25px;
	height:25;
	background: white;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	font-family: Arial;
	color: #000000;
	font-size: 15px;
	padding: 3px 12px 7px 12px;
	border: solid #a8a8a8 1px;
	text-decoration: none;
}

.buttonNormal:hover:enabled {
  	background: #f6f6f6;
  	text-decoration: none;
	cursor:pointer;
	border: solid grey 1px;
}


.buttonNormal:disabled {
    color:grey;
    background-color: #ebebe4;
}

.logoContainer
{
    border: 3px solid lightgrey;
    width: 100px;
    height: 60px;
    margin: 0px 0px 0px 0px;
    position: relative;
}

.logoContainer > input
{
    display: none;
}

.logoTagEdit 
{
    background:url("../images/logo_action_edit.png") no-repeat -3px -30px;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 60px;
    z-index: 500;
}

.logoContainer:hover
{
    border: 3px solid #4e4e4e;
}

.logoTagEdit:hover 
{
    background-position: -3px -3px;
    cursor: pointer;
}

.emargement-bloc{
	padding: 10px;
	margin: 10px 0;
	max-width: 100%;
	background-color: white;
	box-shadow: 1px 1px 3px #555;
	border-radius: 5px;
}

.emargement-bloc table{
	table-layout:fixed;
}

.emargement-bloc table td{
	padding: 0 15px;
}

.emargement-hebdo{
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
	margin:auto;
}

.emargement-hebdo th, .emargement-hebdo td{
	border: 1px solid black;
	padding: 1.8px;
}

.emargement-hebdo td{
 	height: 25px;
 	vertical-align: middle;
}

.emargement-hebdo .sub-th{
	width: 75px;
	font-size: 12px;
	vertical-align: middle;
	font-weight: 300;
	height: 12px;
}

.emargement-hebdo .name-col{
	width: 150px;
	vertical-align: middle;
}

.emargement-hebdo .sal-name-cell{
	font-size: 12px;
}

.header-emargement-hebdo{
	display: block;
	width: 100%;
	text-align: center;
}

.signature-emargement-hebdo{
	margin-top: 15px;
}

.emargement-mensuel{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.emargement-mensuel tr th{
	border: 1px solid black;
	height: 17px;
}

.emargement-mensuel tr td{
	border: 1px solid black;
	height: 17px;
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #858585;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}